p{
  color: var(--text-secondary);
}

.game-detail {
  display: flex;
  flex-direction: column;
  color: #f0f0f0;
  background-color: #111;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
}

/* Imagen de cabecera */
.header {
  position: relative;
  width: 100%;
  height: 45vh; /* ajustable */
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}

.cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  filter: brightness(0.7);
}


/* Info del juego */
.info {
  padding: 2rem;
  padding-bottom: 0;
  max-width: 700px;
  text-align: left;
}

.info h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.info p {
  line-height: 1.5;
}

.info a {
  color: #00bfff;
  text-decoration: none;
}

.info a:hover {
  text-decoration: underline;
}

/* Contenedor rating + icons */
.icons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}


/* Write a review */
.btn-review {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: center;
  align-items: center;
  margin-inline: 20px;
  padding: 15px;
  background: transparent;
  color: var(--text-secondary);
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-weight: bold;
}

.btn-review:hover {
  background: var(--text-primary);
  color: var(--text-main);
}

.btn-review::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 100%;
  background-color: var(--secondary-color);
}

.btn-review::after {
  content: "";
  position: absolute;
  left: 0;
  width: 0%;
  height: 100%;
  background: var(--text-secondary);
  opacity: 0.4;
  transition: all .2s ease-in-out;
  z-index: -1;
}

.btn-review:hover::after {
  width: 100%;
}

.btn-review img {
  width: 24px;
  height: 24px;
}


/* Descripción */
.description {
  width: 90%;
  margin-inline: 2rem;
  color: #ccc;
  overflow: visible;
}

.description-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
}

.description .text {
  flex: 2;
  line-height: 1.6;
}

.description .text p {
  color: #ccc;
  font-size: 1rem;
  text-align: justify;
}

/* Imagen del juego */
.description .image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.description .image img {
  width: 100%;
  height: auto;
  max-width: 400px;
  border-radius: 12px;
  object-fit: cover;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.description .image img:hover {
  transform: scale(1.03);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.6);
}

.media-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.media-info p {
  position: relative;
  padding: 15px;
  margin: 0;
  margin-top: 15px;
  width: 250px;
  align-items: center;
  background-color: none;
  border-radius: 6px;
}

.rating .star {
  margin-left: 5px;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  filter: drop-shadow(0 0 3px rgba(255, 215, 0, 0.3));
}

.duration {
  position: relative;
}

.media-info p::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 100%;
  background-color: var(--secondary-color);
}

.media-info span {
  color: var(--primary-color);
  font-weight: bold;
}


/* ADDITIONAL INFO GRID */
.additional-info {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1.5rem;
  width: 60%;
  margin: 3rem 0 3rem 2rem;
  padding: 2rem;
  background-color: #181818;
  border-radius: 16px;
  color: #f0f0f0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  justify-content: start;
}


.info-item {
  text-align: center;
}

.info-item h3 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: var(--primary-color);
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.info-item p {
  margin: 0;
  font-size: 0.95rem;
  line-height: 1.4;
  color: #ccc;
}

.info-item a {
  color: var(--primary-color);
  text-decoration: none;
}

.info-item a:hover {
  text-decoration: underline;
}


/* REVIEWS */

.reviews {
  padding: 2rem;
  background-color: #111;
}

h2 {
  color: var(--secondary-color);
}

.reviews-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.see-all {
  background: none;
  border: none;
  color: #4A90E2;
  cursor: pointer;
  font-weight: bold;
}

.reviews-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  margin-top: 16px;
}

.review-card {
  background: #1c1c1c;
  padding: 16px;
  border-radius: 10px;
  color: white;
}




/* Responsive */
@media (max-width: 1200px) {
  .additional-info {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .additional-info {
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
    padding: 1.5rem;
  }

  .header {
    height: 35vh;
  }

  .info {
    padding: 1rem;
  }

  .info h1 {
    font-size: 1.6rem;
  }

    
  .description-content {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 480px) {
  .additional-info {
    grid-template-columns: 1fr;
  }
}
