<div class="wishlist-container">
  <h2>{{ userName }}'s Wishlist</h2>

  @if (loading) {
    <p>Loading games...</p>
  }

  @if (error) {
    <p class="error">{{ error }}</p>
  }

  @if (!loading && wishlist.length === 0) {
    <p>You don't have any game in your wishilist yet</p>
  }

  @if (!loading && wishlist.length > 0) {
    <div class="wishlist-grid">
      @for (game of wishlist; track game.id) {
        <app-game-card
          [game]="{
            id: game.gameId,
            name: game.gameName,
            background_image: game.backgroundImage
          }"
          [initialBookmarked]="true"
          (bookmarkToggled)="removeFromWishlist($event)"
          (cardClicked)="seeGameDetail($event)"
        ></app-game-card>
      }
    </div>
  }
</div>
