h2 {
  color: var(--text-main);
}

p {
  color: var(--text-secondary);
  font-style: italic;
}

.wishlist-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
}

.wishlist-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.5rem;
  min-height: 486px;
}
