<div class="container">

  @if (loading) {
    <div>Cargando juegos trending...</div>
  }

  <h2>Trending Games</h2>

  @if (!loading) {
    <div class="games-grid">
      @for (game of trendingGames; track game.id) {
        <div class="game-card" (click)="seeGameDetail(game.id)">
          <div
            class="game-image"
            [style.backgroundImage]="'url(' + game.background_image + ')'"
          >
            <div class="game-info">
              <h3>{{ game.name }}</h3>
              <div class="icons">
                <img
                  src="assets/images/icons/controller.svg"
                  alt="Rating"
                  width="16"
                  height="16"
                />
                <img
                  src="assets/images/icons/bookmark.svg"
                  alt="Bookmark"
                  width="16"
                  height="16"
                />
                <img
                  src="assets/images/icons/list.svg"
                  alt="List"
                  width="16"
                  height="16"
                />
              </div>
            </div>
          </div>
        </div>
      }
    </div>
  }
</div>
