.profile-container {
  display: flex;
  gap: 2rem;
  padding: 1.2rem;
  font-family: 'Poppins', sans-serif;
  color: var(--text-main);
  min-height: 90vh;
}

.profile-sidebar {
  flex: 1;
  background-color: var(--background-secondary);
  padding: 1.5rem;
}

.profile-sidebar ul {
  list-style: none;
  padding: 0;
}

.profile-sidebar li {
  margin-bottom: 1rem;
  font-size: 1.1rem;
  cursor: pointer;
  transition: color 0.2s;
}

.profile-sidebar li:hover {
  color: var(--hover-color);
}

.profile-sidebar li.active {
  color: var(--primary-color);
  font-weight: 600;
}

.profile-content {
  flex: 3;
}
