.profile-container {
  display: flex;
  gap: 2rem;
  padding: 1.2rem;
  font-family: 'Poppins', sans-serif;
  color: var(--text-main);
  min-height: 90vh;
}

.profile-sidebar {
  flex: 1;
  padding: 1.5rem;
}

.profile-sidebar ul {
  list-style: none;
  padding: 0;
}

.profile-sidebar li {
  position: relative;
  margin-bottom: 1rem;
  padding: 10px;
  padding-left: 20px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: all 0.2s;
}

.profile-sidebar li:hover {
  color: var(--hover-color);
}

.profile-sidebar li.active {
  color: var(--primary-color);
  background-color: var(--background-secondary);

  font-weight: 600;
}

.profile-sidebar li.active::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 100%;
  background-color: var(--primary-color);
}

.profile-content {
  flex: 3;
}
