<div class="profile-container">
  <!-- Sidebar -->
  <div class="profile-sidebar">
    <ul>
      <li 
        [class.active]="selectedTab === 'profile'" 
        (click)="selectTab('profile')">
        User Profile
      </li>
      <li 
        [class.active]="selectedTab === 'account'" 
        (click)="selectTab('account')">
        Account
      </li>
      <li 
        [class.active]="selectedTab === 'email'" 
        (click)="selectTab('email')">
        Email
      </li>
    </ul>
  </div>

  <!-- Content -->
  <div class="profile-content">
    <ng-container [ngSwitch]="selectedTab">
      <app-user-profile *ngSwitchCase="'profile'"></app-user-profile>
      <app-account *ngSwitchCase="'account'"></app-account>
      <app-email *ngSwitchCase="'email'"></app-email>
      <p *ngSwitchDefault>Select a section</p>
    </ng-container>
  </div>

</div>
