<div class="icons">

  <!-- Status -->
  <img 
    src="assets/images/icons/controller.svg" 
    alt="Controller" 
    width="16" 
    height="16"
    (click)="openStatusModal($event)"
    title="Set collection status"
  />

  <!-- Wishlist -->
  <img
  (click)="toggleBookmark($event)"
  [src]="isBookmarked ? 'assets/images/icons/bookmark-filled.svg' : 'assets/images/icons/bookmark.svg'"
  alt="Bookmark"
  width="16"
  height="16"
  title="Guardar en wishlist"
  />

  <!-- Personalized Lists -->
  <img src="assets/images/icons/list.svg" alt="List" width="16" height="16"/>
  

  <app-game-status-modal
  class="status-modal"
  [show]="showStatusModal"
  [currentStatus]="currentStatus"
  (close)="showStatusModal = false"
  (selectStatus)="onStatusSelected($event)">
  </app-game-status-modal>

  <!-- Rating Modal -->
  <app-rating-modal
    class="rating-modal"
    [showRating]="showRatingModal"
    [initialRating]="currentRating || 0"
    (close)="showRatingModal = false"
    (save)="onSaveRating($event)">
  </app-rating-modal>


</div>