.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #222;
  color: #fff;
  border-radius: 10px;
  z-index: 11;
  width: 700px;
  max-width: 90vw;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.modal-content {
  display: flex;
  gap: 1rem;
  height: 400px;
}

/* IZQUIERDA */
.modal-left {
  position: relative;
  width: 40%;
  border-radius: 10px 0 0 10px;
  overflow: hidden;
}

.background-layer {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  filter: brightness(0.4);
}

/* DERECHA */
.modal-right {
  flex: 1;
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modal-right h3 {
  margin: 0 0 1rem 0;
}

.status-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0;
  margin: 0;
  list-style: none;
}

.status-list li {
  background: #333;
  padding: 0.6rem;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.status-list li:hover {
  background: #00bcd4;
}

.status-list li.selected {
  background-color: var(--success-color) !important;
  color: white;
  font-weight: bold;
}

.action-btns {
  display: flex;
  justify-content: space-between;
}

.action-btn {
  background: none;
  color: var(--text-main);
  border: 1px solid var(--text-secondary);
  padding: 0.5rem 1rem;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.submit-btn:hover {
  background-color: var(--primary-color);
}

.clear-btn:hover {
  background-color: var(--error-color);
}

.close-btn {
  color: var(--primary-color);
  position: absolute;
  top: 10px;
  right: 10px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 12;
  background: transparent;
  border: none;
  padding: 0;
}

.modal-backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 10;
}
