@import '../trending-games/trending-games.component.css';

/* Botón cargar más */
.load-more-btn {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  background-color: var(--primary-color);
  color: #fff;
  cursor: pointer;
  transition: all 0.2s;
}

.load-more-btn:hover {
  background-color: var(--hover-color);
}
