<section class="custom-lists">
  <header class="lists-header">
    <h2>Custom Lists</h2>
    <button class="new-btn" (click)="openModal()">+ New</button>
  </header>

  <section class="lists-grid">
    <div 
      class="list-card"
      *ngFor="let list of lists; trackBy: trackById"
      [routerLink]="['/custom-lists', list.id]"
    >

      <!-- DELETE BUTTON -->
      <button
        class="delete-btn"
        (click)="deleteList(list.id, $event)"
        title="Delete list"
      >
        <img src="../../../../assets/images/icons/delete.svg" alt="🗑">
      </button>

            <!-- EDIT BUTTON -->
      <button
        class="edit-btn"
        (click)="editList(list, $event)"
        title="Edit list"
      >
        <img src="../../../../assets/images/icons/review.svg" alt="✏️">
      </button>

      
      <h3>{{ list.title }}</h3>

      <p *ngIf="list.description">{{ list.description }}</p>

      <div class="games-preview">
        <ng-container *ngFor="let game of list.games?.slice(0,5); let i = index">
          <div class="game-cover-wrapper">
            <img 
              [src]="game.backgroundImage" 
              [alt]="game.name" 
              class="game-cover"
            />

            <div 
              *ngIf="i === 4 && list.games?.length! > 5" 
              class="extra-count"
            >
              +{{ list.games!.length - 5 }}
            </div>
          </div>
        </ng-container>
      </div>

      <div class="meta">
        <span class="author">
          {{ list.user.displayName || list.user.username }}
        </span>
        <span class="date">
          {{ list.createdAt | date:'dd/MM/yyyy' }}
        </span>
      </div>

      <span class="count">
        {{ list.games?.length || 0 }} games
      </span>
    </div>
  </section>
</section>

@if (showCreateModal) {
  <app-custom-list-modal
    [list]="listToEdit"
    (close)="closeModal()"
    (create)="onCreateList($event)"
    (update)="onUpdateList($event)">
  </app-custom-list-modal>
}
