.modal-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 10;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--background-secondary-dark);
  padding: 1.5rem;
  border-radius: 10px;
  width: 320px;
  z-index: 11;
  color: var(--text-main);
}

label {
  display: block;
  margin-bottom: 1rem;
  font-size: 0.9rem;
}

input,
textarea {
  width: 100%;
  margin-top: 0.3rem;
  padding: 0.4rem;
  border-radius: 6px;
  border: none;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

.action-btn {
  background: none;
  color: var(--text-main);
  border: 1px solid var(--text-secondary);
  padding: 0.5rem 1rem;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.create:hover {
  background-color: var(--primary-color);
}

.cancel:hover {
  background-color: var(--error-color);
}

.modal input,
.modal textarea {
  padding: 0.6rem;
  border: 1px solid var(--background-secondary-dark);
  border-radius: 6px;
  background-color: var(--background-secondary);
  color: var(--text-main);
  font-family: 'Noto Sans', sans-serif;
}

.modal textarea {
  box-sizing: border-box;
  margin: 0;
  resize: none;
}
