.user-account {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 3rem;
  width: 100%;
  padding: 1.2rem;
}

.account-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80vh;
  max-width: 500px;
}

.username-section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.username-section label {
  font-weight: 600;
  color: var(--text-secondary);
}

.username-section img {
  width: 30px;
  height: 30px;
}

.username-section input {
  padding: 0.6rem;
  border: 1px solid var(--background-secondary-dark);
  border-radius: 6px;
  background-color: var(--background-secondary);
  color: var(--text-main);
}

.username-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid var(--background-secondary-dark);
  border-radius: 6px;
  background-color: var(--background-secondary);
  color: var(--text-main);
  width: 50%;
  transition: all 0.2s, border-color 0.2s;
}

.username-actions p {
  color: var(--text-secondary);
  font-size: 14px;
  margin: 0;
}

.username-actions img {
  width: 22px;
  height: 22px;
  opacity: 0.3;
  transition: opacity 0.2s;
  filter: invert(1);
}

.username-actions img:hover {
  opacity: 1;
}

.delete-section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
}

.delete-section h3 {
  margin: 0;
  color: var(--error-color-strong);
}

.delete-section p {
  font-size: 14px;
  margin: 0;
  color: var(--text-secondary);
}

.delete-section button {
  padding: 0.6rem 1.5rem;
  background-color: var(--error-color);
  color: var(--text-main);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.2s;
}

.delete-section button:hover {
  background-color: var(--error-color-strong);
}

.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal.show {
  display: flex;
}

.modal-content {
  background-color: var(--background-secondary);
  color: var(--text-main);
  padding: 2rem;
  border-radius: 10px;
  max-width: 400px;
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.modal-top {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.modal-top h2,
.modal-top .close {
  margin: 0;
  line-height: 1;
}

.modal-content p {
  font-size: 14px;
}

.modal-content input {
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid var(--background-secondary-dark);
  background-color: var(--background-secondary-dark);
  color: var(--text-main);
  outline: none;
}

.modal-content button {
  padding: 0.6rem 1.5rem;
  background-color: var(--primary-color);
  color: var(--text-main);
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.modal-content button:hover {
  background-color: var(--hover-color);
}

.close {
  align-self: flex-end;
  cursor: pointer;
  font-size: 1.5rem;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 1rem;
}

.modal-actions button:first-child {
  background-color: var(--error-color);
  font-weight: bold;
}

.modal-actions button:first-child:hover {
  background-color: var(--error-color-strong);
}

.modal-actions button:last-child {
  background-color: var(--background-secondary-dark);
}

.modal-actions button:last-child:hover {
  background-color: var(--background-secondary);
}

@media (max-width: 768px) {
  .user-account {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .delete-section {
    align-items: center;
  }

  .username-actions {
    width: 100%;
    justify-content: center;
  }
}
