.user-account {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 3rem;
  width: 100%;
  padding: 2rem;
}

.account-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80vh;
  max-width: 500px;
}

.username-section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.username-section label {
  font-weight: 600;
  color: #ccc;
}

.username-section img {
  width: 30px;
  height: 30px;
}

.username-section input {
  padding: 0.6rem;
  border: 1px solid #333;
  border-radius: 6px;
  background-color: #1a1a1a;
  color: #f0f0f0;
}

.username-actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.delete-section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
}

.delete-section h3 {
  margin: 0;
  color: #ff2600;
}

.delete-section p {
  font-size: 14px;
  margin: 0;
  color: #ccc;
}

.delete-section button {
  padding: 0.6rem 1.5rem;
  background-color: #ff2600;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.2s;
}

.delete-section button:hover {
  background-color: #d60000;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
}

.modal.show {
  display: flex;
}

.modal-content {
  background-color: #1a1a1a;
  color: #f0f0f0;
  padding: 2rem;
  border-radius: 10px;
  max-width: 400px;
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.modal-top {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.modal-top h2,
.modal-top .close {
  margin: 0;
  line-height: 1;
}

.modal-content p {
  font-size: 14px;
}

.modal-content input {
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #333;
  background-color: #2a2a2a;
  color: #fff;
}

.modal-content button {
  padding: 0.6rem 1.5rem;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.modal-content button:hover {
  background-color: var(--hover-color);
}

.close {
  align-self: flex-end;
  cursor: pointer;
  font-size: 1.5rem;
}

/* DELETE MODAL */
.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 1rem;
}

.modal-actions button:first-child {
  background-color: #ff2600;
  font-weight: bold;
}

.modal-actions button:first-child:hover {
  background-color: #d60000;
}

.modal-actions button:last-child {
  background-color: #333;
}

.modal-actions button:last-child:hover {
  background-color: #555;
}



@media (max-width: 768px) {
  .user-account {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .delete-section {
    align-items: center;
  }
}
