.footer {
  flex-shrink: 0;
  width: 100%;
  background-color: var(--background-secondary-dark);
  color: var(--text-main);
  padding: 1.5rem;
  margin-top: auto;
}

.container-fluid {
  width: 100%;
  padding: 0 0.75rem;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1rem;
  flex-wrap: wrap;
  gap: 1rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.footer-link {
  text-decoration: none;
  color: var(--text-secondary);
  transition: color 0.2s ease, text-decoration-color 0.2s ease;
}

.left {
  margin-bottom: 20px;
}

.left .footer-link {
  margin-right: 1rem;
}

.footer-link:hover {
  color: var(--text-main);
  text-decoration: underline;
  text-decoration-color: var(--text-main);
}

footer small {
  font-size: 0.875em;
}

.footer-bottom {
  display: flex;
  align-items: center;
  border-top: 1px solid var(--text-secondary);
  padding-top: 1rem;
  margin-top: 1rem;
}

.footer-logo {
  width: 40px;
  height: auto;
  margin-right: 0.5rem;
}

/* Icons */
.footer-icon {
  color: var(--text-secondary);
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease;
}

.footer-icon:hover {
  color: var(--text-main);
  transform: scale(1.1);
}
