.user-search-page {
  margin: 2rem;
  color: var(--text-main);
}

.user-box {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 12px;
  border-bottom: 1px solid var(--background-secondary-dark);
  cursor: pointer;
  transition: background-color 0.2s;
}

.user-box:hover {
  background-color: var(--background-secondary);
}
