.user-search-page {
  margin: 2rem;
  color: #f0f0f0;
}

.user-box {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 12px;
  border-bottom: 1px solid #444;
  cursor: pointer;
}

.user-box:hover {
  background-color: #333;
}
