

@if (loading) {
  <p>Loading profile...</p>
} @else {
  <div class="public-profile">

    <div class="profile-left">
      <div class="profile-picture">
        <img 
          [src]="profile.profileImage || 'assets/images/icons/profile.svg'" 
          alt="User avatar">
      </div>

      <div class="profile-info">
        <p>{{ profile.displayName }}</p>
        <p>&#64;{{ profile.username }}</p>
        <p><em>{{ profile.bio || 'No bio available' }}</em></p>
        <button class="toggle-follow" [class.following]="isFollowing" *ngIf="!isOwnProfile" (click)="toggleFollow()">
          {{ isFollowing ? 'Unfollow' : 'Follow' }}
        </button>
      </div>
    

    </div>

    <div class="profile-right">
      <button class="btn-follow" (click)="openFollowers()">
        <span class="count">{{ profile.followersCount || followers.length }}</span>
        <span class="label">Followers</span>
      </button>

      <button class="btn-follow" (click)="openFollowing()">
        <span class="count">{{ profile.followingCount || following.length }}</span>
        <span class="label">Following</span>
      </button>
    </div>

  </div>

<!-- FOLLOWERS MODAL -->
<div class="modal" *ngIf="showFollowersModal">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>

    <h2 class="modal-title">Seguidores</h2>

    <div *ngIf="loadingFollowers" class="loading">Cargando...</div>

    <div *ngIf="!loadingFollowers">

      <div *ngFor="let user of followers" class="user-item" (click)="goToUser(user.username)">
        <div class="user-left">
          <img 
            [src]="user.profileImage || 'assets/images/icons/profile.svg'" 
            alt="profile"
          />
          <div class="user-info">
            <p class="name">{{ user.username }}</p>
            <p class="email">{{ user.email }}</p>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>

<!-- FOLLOWING MODAL -->
<div class="modal" *ngIf="showFollowingModal">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>

    <h2 class="modal-title">Siguiendo</h2>

    <div *ngIf="loadingFollowing" class="loading">Cargando...</div>

    <div *ngIf="!loadingFollowing">

      <div *ngFor="let user of following" class="user-item" (click)="goToUser(user.username)">
        <div class="user-left">
          <img 
            [src]="user.profileImage || 'assets/images/icons/profile.svg'" 
            alt="profile"
          />
          <div class="user-info">
            <p class="name">{{ user.username }}</p>
            <p class="email">{{ user.email }}</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
}
