.apps-hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url('../../../../assets/images/elden-ring-wallpaper.jpeg');
  background-size: cover;
  background-position: center;
}

.apps-card {
  background-color: var(--background-secondary);
  padding: 3rem;
  border-radius: 0.75rem;
  max-width: 700px;
}

.apps-title {
  font-weight: 700;
  margin-bottom: 1rem;
  color: var(--text-main);
  font-size: 2rem;
}

.apps-description {
  font-weight: 700;
  color: var(--text-secondary);
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.apps-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.store-btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
  font-weight: 500;

  background-color: var(--background-secondary-dark);
  color: var(--text-main);
  text-decoration: none;

  border-radius: 0.5rem;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.store-btn:hover {
  background-color: var(--background);
}

.store-icon {
  font-size: 1.5rem;
}
