/* You can add global styles to this file, and also import other style files */

/* Fuente principal */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

/* Fuente "gamer" */
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

/* Paleta de colores */
@import './styles/colors.css';


html, body {
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  background-color: var(--background);
  z-index: 1;
}

/* Oculta la barra de scroll pero mantiene el scroll funcional */
html, body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE y Edge antiguos */
}


html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge moderno */
}

* {
  box-sizing: border-box
}
